body {
    background-size: cover;
    height: 100vh;
    padding: 0;
    font-size: 14px;
    color: #484848;
    background-color: #fafafa;
}

.box {
    border-radius: 20px;
    text-align: center;
    padding: 22px 10px 22px 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 8px 0px rgb(194 194 194);
    background-color: rgba(255,255,255,1);
}

.approveUser{
    border-radius: 20px;
    background-color: #228B22; 
    color: white;
    margin-top: 10%
}

.approveUser:hover{
    background-color: #06cf06!important; 
}