<body>
    <app-header-user></app-header-user>

    <div class="container-fluid">
        <div class="row">
            <div class="col-6" align="center">
                <mat-card class="boxSquare" style="margin-top: 20%; width: 90%; border-radius: 0px; text-align: center; height: 500px">
                    <mat-card-title style="font-weight: bold; text-decoration: none; padding-bottom: 20px">Στοιχεία Λογαριασμού</mat-card-title>
                    <mat-card-content style="height: 400px">
                        <p>
                            <mat-form-field appearance="outline" style="margin-right: 10px; margin-bottom: 30px">
                                <mat-label>Username</mat-label>
                                <input matInput [formControl]="username" style="color: #0d0d0d">
                            </mat-form-field>

                            <mat-form-field appearance="outline" style="margin-right: 10px; margin-bottom: 30px">
                                <mat-label>Κωδικός</mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password" style="color: #0d0d0d">
                                <button *ngIf="disabled == false" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" style="width: 20px; height: 20px">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                        </p>

                        <p>
                            <mat-form-field appearance="outline" style="margin-right: 10px; margin-bottom: 30px">
                                <mat-label>Όνομα</mat-label>
                                <input matInput [formControl]="name" style="color: #0d0d0d">
                            </mat-form-field>

                            <mat-form-field appearance="outline" style="margin-right: 10px; margin-bottom: 30px">
                                <mat-label>Επίθετο</mat-label>
                                <input matInput [formControl]="last_name" style="color: #0d0d0d">
                            </mat-form-field>
                        </p>

                        <p>
                            <mat-form-field appearance="outline" style="margin-right: 10px; margin-bottom: 30px">
                                <mat-label>Email</mat-label>
                                <input matInput [formControl]="email" style="color: #0d0d0d">
                            </mat-form-field>

                            <mat-form-field appearance="outline" style="margin-right: 10px; margin-bottom: 30px">
                                <mat-label>Τηλέφωνο</mat-label>
                                <input matInput [formControl]="phone" style="color: #0d0d0d">
                            </mat-form-field>
                        </p>


                    </mat-card-content>

                    <mat-card-footer *ngIf="disabled == true">
                        <button mat-button style="padding-right: 20px; padding-left: 20px" (click)="change_disabled()">Αλλαγή στοιχείων</button>
                    </mat-card-footer>

                    <mat-card-footer *ngIf="disabled == false">
                        <button mat-button style="padding-right: 20px; padding-left: 20px" (click)="save()">Αποθήκευση Αλλαγών</button>
                        <button mat-button style="padding-left: 20px; padding-right: 20px" (click)="cancel()">Απόρριψη αλλαγών</button>
                    </mat-card-footer>
                </mat-card>
            </div>

            <div class="col-6" align="center">
                <mat-card class="boxSquare" style="margin-top: 19%; width: 90%; border-radius: 0px; text-align: center;
                align-items: center; position: absolute; height: 500px">
                    <mat-card-title style="font-weight: bold; text-decoration: none; padding-bottom: 20px">Φωτογραφία Λογαριασμού</mat-card-title>

                    <mat-card-content style="height: 400px; width: 400px; align-content: center">
                        <img align="center" [src]="imageUrl" alt="No User Image" style="height: 400px; width: 400px">

                    </mat-card-content>

                    <mat-card-footer>
                        <input
                                style="display: none"
                                type="file" (change)="onFileChanged($event)"
                                #fileInput>
                        <button mat-button style="padding-right: 20px; padding-left: 20px" (click)="fileInput.click()" style="margin-left: 50px; margin-right: 50px">Upload Image</button>
                        <button *ngIf="selectedFile" mat-button style="padding-right: 20px; padding-left: 20px" (click)="onUpload(my_info.id)" style="margin-left: 50px; margin-right: 50px">Save</button>
                    </mat-card-footer>
                </mat-card>
            </div>
        </div>
    </div>
</body>


