<body>

<app-header></app-header>

<!--<div class="bg-image"></div>-->

<div class="wrapper fadeInDown">
    <div id="formContent">


    <h1> Register Now for Free!</h1>

    <br>
    <mat-form-field appearance="outline" style="padding: 8px">
        <mat-label style="color: white;">Όνομα Χρήστη</mat-label>
        <input matInput placeholder="Όνομα Χρήστη" style="color: white" [formControl]="username" required>
        <mat-error *ngIf="username.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" style="padding: 8px">
        <mat-label style="color: white;">Κωδικός</mat-label>
        <input type="password" matInput placeholder="Κωδικός" style="color: white"[formControl]="password" required>
        <mat-error *ngIf="password.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" style="padding: 8px">
        <mat-label style="color: white;">Επιβεβαίωση Κωδικού</mat-label>
        <input type="password" matInput placeholder="Επιβεβαίωση Κωδικού" style="color: white" [formControl]="passVerif" required>
        <mat-error *ngIf="passVerif.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <br>

    <mat-form-field appearance="outline" style="padding: 8px">
        <mat-label style="color: white;">Όνομα</mat-label>
        <input matInput placeholder="Όνομα" style="color: white" [formControl]="firstName" required>
        <mat-error *ngIf="firstName.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" style="padding: 8px">
        <mat-label style="color: white;">Επίθετο</mat-label>
        <input matInput placeholder="Επίθετο" style="color: white" [formControl]="lastName" required>
        <mat-error *ngIf="lastName.invalid">{{getErrorMessage()}}</mat-error>

    </mat-form-field>


    <mat-form-field appearance="outline" style="padding: 8px">
        <mat-label style="color: white">Email</mat-label>
        <input matInput placeholder="example@example.com" [formControl]="email" required style="color: white">
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <br>

    <mat-form-field appearance="outline" style="padding: 8px">
        <mat-label style="color: white;">Τηλέφωνο Επικοινωνίας</mat-label>
        <input matInput maxlength="10" placeholder="Τηλέφωνο Επικοινωνίας" style="color: white" [formControl]="telephone" required style="color: white">
        <mat-error *ngIf="telephone.invalid">{{getPhoneErrorMessage()}}</mat-error>
        <mat-hint align="end" style="color: white">{{telephone.value?.length || 0}}/10</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline" style="padding: 8px">
        <mat-label style="color: white">Ρόλος Χρήστη</mat-label>
        <mat-select [formControl]="role" multiple style="color: white" required>
            <mat-option *ngFor="let r of roleList" [value]="r" >{{r}}</mat-option>
        </mat-select>
    </mat-form-field>

    <input
            style="display: none"
            type="file" (change)="onFileChanged($event)"
            #fileInput>
    <button mat-raised-button (click)="fileInput.click()" style="margin-left: 50px; margin-right: 50px">Upload Image</button>

    <br>

    <button mat-raised-button style="margin: 10px; background-color: #81d9c4; font-size: 20px;" (click)="register()">Register</button>
    <button mat-raised-button style="margin: 10px;" color="warn" routerLink="/welcome">Cancel</button>

    <br>

    <a routerLink="/welcome" style="color: white; font-weight: lighter;">Already have an acount? Sign In</a>

    </div>
</div>

</body>
