<mdb-navbar SideClass="navbar navbar-expand-lg navbar-light white" [containerInside]="false">

    <mdb-navbar-brand><a class="navbar-brand" [routerLink]="arxiki"><img style="max-width: 120px;" src="/assets/logo.png"></a></mdb-navbar-brand>

    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" *ngIf="user == false">
                <a class="nav-link waves-light" mdbWavesEffect [routerLink]="arxiki">Home</a>
            </li>
            <li class="nav-item" *ngIf="admin == true">
                <a class="nav-link waves-light" mdbWavesEffect [routerLink]="'/user-requests'">Requests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect [routerLink]="'/account'">Account</a>
            </li>
            <li class="nav-item" *ngIf="user==true">
                <a class="nav-link waves-light" mdbWavesEffect [routerLink]="'/welcome'">Search</a>
            </li>
            <li class="nav-item" *ngIf="mod==true">
                <a class="nav-link waves-light" mdbWavesEffect [routerLink]="'/myhomes'">My Places</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect [routerLink]="'/chats'">Chat</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item" *ngIf="admin == true">
                <a class="nav-link">{{aitimata}}<mdb-icon fas icon="envelope" [routerLink]="'/user-requests'"></mdb-icon></a>
            </li>
            <li class="nav-item avatar dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                    <img [src]="imageUrl" alt="" class="img-fluid rounded-circle z-depth-0" style="width: 40px"></a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/account">My Account</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect (click)="logOut()">Log out</a>
                </div>
            </li>
        </ul>
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
