<mdb-navbar SideClass="navbar navbar-expand-lg navbar-light white" [containerInside]="false">

<mdb-navbar-brand><a class="navbar-brand" routerLink="/home">Home-Rent</a></mdb-navbar-brand>

    <links>

        <!-- Links -->
<!--        <ul class="navbar-nav mr-auto">-->
<!--            <li class="nav-item active">-->
<!--                <a class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link waves-light" mdbWavesEffect>Features</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link waves-light" mdbWavesEffect>Pricing</a>-->
<!--            </li>-->

<!--            &lt;!&ndash; Dropdown &ndash;&gt;-->
<!--            <li class="nav-item dropdown" dropdown>-->
<!--                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>-->
<!--                    Basic dropdown<span class="caret"></span></a>-->
<!--                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">-->
<!--                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>-->
<!--                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>-->
<!--                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>-->
<!--                    <div class="divider dropdown-divider"></div>-->
<!--                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>-->
<!--                </div>-->
<!--            </li>-->

<!--        </ul>-->
        <!-- Links -->

        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item">
                <a class="nav-link">1 <mdb-icon fas icon="envelope"></mdb-icon></a>
            </li>
            <li class="nav-item avatar dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt="" class="img-fluid rounded-circle z-depth-0" style="width: 40px"></a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/account">Προφίλ</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect (click)="logOut()">Log out</a>
                </div>
            </li>
        </ul>
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
