body {
    background-color: #164359;
    /*background-image: url("/../../assets/home.jpg");*/
    background-size: cover;
    height: 100vh;
    padding: 0;
}

.right_card {
    position: absolute;
    right: 30px;
    width: 30%;
    border-radius: 0px;
    text-align: center;
}

.mat-card-footer {
    background-color: #d0ddda;
}
