<body>

<app-header-user></app-header-user>

<div class="container-fluid">
    <div class="row">
        <div class="col-7">
            <div class="mat-elevation-z8" style="margin-top: 20%; width: 90%; margin-left: 30px">
                <table mat-table [dataSource]="dataSource" style="width: 100%;">

                    <!-- Weight Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Username </th>
                        <td mat-cell *matCellDef="let element" (click)="userInfo(element.id)"> {{element.username}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="weight">
                        <th mat-header-cell *matHeaderCellDef> Όνομα </th>
                        <td mat-cell *matCellDef="let element" (click)="userInfo(element.id)"> {{element.firstname}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="symbol">
                        <th mat-header-cell *matHeaderCellDef> Επίθετο </th>
                        <td mat-cell *matCellDef="let element" (click)="userInfo(element.id)"> {{element.lastname}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
            </div>

        </div>

        <div class="col-5">
            <mat-card class="right_card">
                <mat-card-title style="font-weight: bold; text-decoration: none">Αιτήματα Χρηστών</mat-card-title>

                <mat-card-content>
                    <p> Εγκρίνετε ή απορρίψτε τα αιτήματα των χρηστών για τον ρόλο του οικοδεσπότη. </p>
                    <p> Εκκρεμμούν </p> <h1>{{aitimata}}</h1> <p>αιτήματα χρηστών</p>

                </mat-card-content>

                <mat-card-footer>
                    <button mat-button style="padding-right: 20px; padding-left: 20px" [routerLink]="'/user-requests'">Προβολή αιτημάτων</button>
<!--                    <button mat-button style="padding-left: 20px; padding-right: 20px">Αποδοχή όλων</button>-->
<!--                    <button mat-button style="padding-left: 20px; padding-right: 20px">Απόρριψη όλων</button>-->
                </mat-card-footer>
            </mat-card>

            <mat-card class="right_card" style="margin-top: 20%">
                <mat-card-title style="font-weight: bold; text-decoration: none">Στοιχεία Εφαρμογής</mat-card-title>

                <mat-card-content>
                    <p>Δυνατότητα εξαγωγής στοιχείων σε XML ή JSON: Δημιουργεία αρχείου με τις πληροφορίες των καταλυμάτων και των
                        χρηστών και αποθήκευση στον υπολογιστή σας. </p>
                </mat-card-content>

                <mat-card-footer>
                    <button mat-button style="padding-right: 20px; padding-left: 20px">XML</button>
                    <button mat-button style="padding-left: 20px; padding-right: 20px">JSON</button>
                </mat-card-footer>
            </mat-card>

        </div>
    </div>
</div>


</body>




