<body>
<app-header-user></app-header-user>

<div class="container-fluid">
    <div class="row">
        <div class="col-6" align="center">

            <mat-card style="margin-top: 20%; width: 90%; border-radius: 0px; text-align: center; height: 60vh">
                <mat-card-title style="font-weight: bold; text-decoration: none; padding-bottom: 30px; border-bottom: 1px solid #ccc">
                    Στοιχεία Λογαριασμού
                </mat-card-title>

                <mat-card-content style="padding-top: 10px">

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-6" style="border-right: 1px solid #ccc;">
                                <h3>Username:</h3>
                                <h3>Όνομα: </h3>
                                <h3>Επίθετο: </h3>
                                <h3>Τηλέφωνο: </h3>
                                <h3>Email: </h3>
                            </div>
                            <div class="col-6">
                                <h3>{{username}}</h3>
                                <h3>{{first_name}}</h3>
                                <h3>{{last_name}}</h3>
                                <h3>{{phone}}</h3>
                                <h3>{{email}}</h3>
                            </div>
                        </div>

                    </div>
                </mat-card-content>

            </mat-card>
        </div>

        <div class="col-6" align="center">

            <mat-card style="margin-top: 20%; width: 90%; border-radius: 0px; text-align: center; align-items: center; position: absolute; height: 60vh">
                <mat-card-title style="font-weight: bold; text-decoration: none; padding-bottom: 30px;border-bottom: 1px solid #ccc">
                    Φωτογραφία Λογαριασμού
                </mat-card-title>

                <mat-card-content>
                    <img src="assets/avatar.jpeg">
                </mat-card-content>

            </mat-card>

            <button *ngIf="oikodespotis_to_be == true" mat-raised-button style="background-color: #81d9c4; margin-top: 10%" (click)="accept()">Αποδοχή Αιτήματος Οικοδεσπότη</button>
            <button mat-raised-button style="background-color: #81d9c4; margin-top: 10%" (click)="delete_account()">Διαγραφή Λογαριασμού</button>

        </div>
    </div>
</div>
</body>
